$primary-color: #2B331B; //background one
$primary-accent: #FFD300; //border highlights

$primary-white: #fff;
$primary-black: #0F0F0F;
$secondary-black: #171B0E; //background two



$translucent-black: transparentize($primary-black, 0.4);

$font-serif: serif;
$font-primary: 'Josefin Sans', sans-serif;


$first-break: 1250px;
$second-break: 1125px;
$third-break: 980px;
$fourth-break: 750px;
$fifth-break: 400px;
