$primaryColor: #fff;
$primaryAccent: #444;

$primaryBlack: #000;

$translucentBlack: transparentize($primaryBlack, 0.4);

$font-serif: serif;
$font-sans-serif: sans-serif;


$firstBreak: 1250px;
$secondBreak: 1125px;
$thirdBreak: 980px;
$fourthBreak: 750px;
$fifthBreak: 400px;
