.contact {
  position: relative;
  padding-bottom: 150px;
}
.contact-social-links {
  padding-top: 50px;
  display: flex;
  // justify-content: space-between;
  li {
    margin-right: 25px;
  }
  i {
    color: $primary-accent;
    font-size: 2.5rem;
  }
}
.contact-flex-container {
  padding: 0;
  margin: 0;
  width: 30%;
  @include media($third-break){
    width: 100%;
  }
  >li {
    padding-bottom: 25px;
  }
}
.contact-address li {
  padding-bottom: 5px;
}

.contact-form {
  position: absolute;
  background: $secondary-color;
  right: 5%;
  top: -100px;
  width: 50%;
  padding: 25px;
  @include media($third-break){
    position: static;
    width: 100%;
  }
  input,
  textarea {
    background-color: $secondary-color;
  }
}
