.contact {
  position: relative;
  padding-bottom: 150px;
  @include media($third-break){
    padding-bottom: 50px;
  }
  p {
    display: inline-block;
  }
  p:hover {
    animation: small-wiggle 1s infinite;
  }
}
.contact-social-links {
  padding-top: 50px;
  display: flex;
  @include media($third-break){
    padding-top: 0;
  }
  @include media($final-break){
    justify-content: space-around;
  }
  li {
    margin-right: 25px;
    @include media($final-break){
      margin: 0;
    }
  }
  i {
    color: $primary-accent;
    font-size: 2.5rem;
    transition: all 0.3s;
    &:hover {
      color: $primary-white;
      transform: scale(1.1);
    }
  }
}
.contact-flex-container {
  padding: 0;
  margin: 0;
  width: 30%;
  @include media($third-break){
    width: 100%;
  }
  @include media($final-break){
    text-align: center;
  }
  >li {
    padding-bottom: 25px;
  }
}
.contact-address li {
  padding-bottom: 5px;
}

.contact-form {
  position: absolute;
  background: $secondary-color;
  right: 5%;
  top: -100px;
  width: 50%;
  padding: 25px;
  @include media($third-break){
    position: relative;
    right: 0;top: -100px;
    width: 100%;
  }
  
  input,
  textarea {
    background-color: $secondary-color;
  }
}

// a[href^='mailto']:hover {
