a,
a:visited {
    text-decoration: none;
    border:none;
    color: inherit;
}

img {
    width: 100%;
    display: block;
    //At a future breakpoint make it: height 100% && object-fit cover
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
    // border: 1px solid red;
}
