header {
  @include linear-from-to(bottom right, $primary-color ,$secondary-color, 4);
  position: relative;
  min-height: 95vh;
  // background-attachment: fixed;
  background-size: cover;
  padding-top: 50px;
  @include media ($fifth-break){
    background-position-x: -400px;
  }
  span {
    display: block;
    color: $primary-black;
    position: relative;
    z-index: 2;
    margin: 10px 0;
  }
  span::after {
    content: '';
    position: absolute;
    background-color: $primary-white;
    width: 470px;
    left: -5px;
    top: -5px;
    bottom: 5px;
    z-index: -1;
    @include media($fifth-break){
      width: 340px;
    }
    @include media($final-break){
      width: 275px;
    }
  }
  li {
    margin-right: 25px;
    position: relative;
  }
}
h1 {
  padding-top: 100px;
  margin: 0;
}
.desktop-nav {
  display: flex;
}
.index-header {
  background-image: url("../assets/home-header.jpg");
}
.blog-header {
  background-image: url("../assets/blog-header.jpg");
  background-position: center;
  // background-size: 100px;
}
.contact-header {
  background-image: url("../assets/contact-header.jpg");
  background-position: right;
}
.header-overlay-image {
  position: absolute;
  right: 0;bottom: -150px;
  width: 50%;
  // max-width: calc(1280px / 2);

  animation: slide-in 1s, fade-in 1s;
  z-index: 2;
  @include media($fifth-break){
    display: none;
  }
}


ul:hover{
  .page-active::after,
  .page-not-active::after {
    width: 0;
  }
  li:hover::after{
    width: 100%;
  }
}
a:focus{
  outline: 1px dotted $primary-accent;
}

.page-active,
.page-not-active{
  position: relative;
  &::after {
    content: '';
    height: 3px;
    display: block;
    position: absolute;
    background-color: $primary-accent;
    bottom:-5px;
    transition: width 0.3s;
  }
}
.page-active::after {
  width: 100%;
}
.page-not-active::after {
  width:0;
}

.circle {
  position: absolute;
  left: -35%;
  bottom: 0;
  width:150%;
  height: 150%;
  z-index: 0;
  path {
    stroke-dasharray: 460;
    stroke-dashoffset: 460;
    transition: stroke-dashoffset 0.3s;
    stroke: $circle-stroke;
  }
}
a:hover > .circle>path,
a:focus > .circle>path {
  stroke-dashoffset: 0;
} 


/* Mobile Nav */
.desktop-nav {
  @include media($fifth-break){
    display: none;
  }
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;

  z-index: 5;
  @include media($fifth-break){
    display: block;
  }
}

.mobile-exp {
  display: none;
  position: absolute;
  right: 0px;
  top: 0; 
  width: 70px;
  height: 70px;
  background-color: $primary-accent;
  
  border-radius: 0 0 0 30px;

  font-size: 3rem;
  
  color: $primary-black;

  transition: all 0.6s;
  overflow: hidden;
  @include media($fifth-break){
    display: block; 
  }
  i {
    @include absolute-fill();
    margin-top: 10px;
    margin-left: 10px;
  }
}
.page-active {
  color: $primary-white;
}
.mobile-nav-ul {
  margin-left: 35px;
  margin-top: 60px;
  display: none;
  li {
    padding: 10px 5px;
  }
  &:hover {
    .page-active {
      color: $primary-black;
    }
  }
  &:hover a:hover {
    color: $primary-white;
  }
}

.mobile-nav-show {
  display: block;
}
.mobile-nav-checkbox {
  display: none;
}
.mobile-nav-checkbox:checked ~ .mobile-exp {
  width: 100vw;
  height: 40vh;
  // top: 0;right: 0;bottom: 0;left: 0;
  // transition: all 1s;
  & .mobile-nav-ul {
    display: block;
  }
}
.mobile-nav-ul a:focus{
  outline: white 1px dotted;
}
.mobile-nav-checkbox:checked + .mobile-nav-toggle::before {
  content: "\f00d";
}
.mobile-nav-checkbox:focus + .mobile-nav-toggle::before{
  color: $primary-color;
  transform: scale(1.2);
}
.mobile-nav-toggle::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Pro"; 
  content: "\f0c9";
  font-size: 3.5rem;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 10;

  transition: all 1s;
}