.index .button{
  transition: transform 0.3s;
  display : inline-block;
  text-align: center;
  &:hover,
  &:focus {
      transform: scale(1.05);
  }
}
.index-about .button,
.index-contest .button {
  background-color: $primary-black;
  color: $primary-white;
  &:hover,
  &:focus {
    background-color: $primary-white;
    color: $primary-black;
    box-shadow: 0 0px 10px 1px $primary-black;
  }
  &:active {
    color: $translucent-black;
    box-shadow: 0 0px 5px 1px $translucent-black;
  }
}
.index-blog .button {
  background-color: $primary-accent;
  color: $primary-black;
  &:hover,
  &:focus {
    background-color: $primary-black;
    color: $primary-accent;
    box-shadow: 0 0px 10px 1px $primary-accent;
  }
  &:active {
    color: $dark-accent;
    box-shadow: 0 0px 5px 1px $dark-accent;
  }
}



.index-feature-section {
  padding: 200px 0 100px;
  @include media($fifth-break){
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    @include media($third-break){
      flex-direction: column;
    }
    li {
      flex-basis: 48%;
      position: relative;
    }
    li:nth-of-type(2n){
      margin-left: 2%;
      @include media-min-max($fifth-break, $third-break){
        margin-left: 0;
        margin-right: 0%;
        .index-feature-text {
          text-align: right;
        }
        &.index-feature-flex-container {
          flex-direction: row-reverse;
        }
        .index-feature-icon {
          margin: 0px 0px 20px 15px;
        }
      }
      @include media($fifth-break){
        margin-left: 0;
      }
    }
  }
  .index-feature:hover .index-feature-icon{
    animation: small-wiggle 1s infinite ease-in;
    i {
      transform: scale(1.1);
    }
  }
  
  .index-feature-flex-container {
    margin-bottom: 50px;
    display: flex;
    
  }
  .index-feature-icon {
    flex-shrink: 0;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;

    font-size: 2.5rem;
    
    color: $primary-black;
    background-color: $primary-accent;

    margin: 0px 15px 20px 0;
    
  }
  i {
    @include absolute-fill;
    text-align: center;
    padding-top: 12.5px;
    transition: transform 0.2s;
  }
}
.index-contest h2,
.index-about h2 {
  color: $primary-accent;
}
.index-blog-post-text,
.index-about-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  p {
    flex-grow: 1;
  }
  .button {
    align-self: flex-start;
    margin-bottom: 25px;
  }
}

.index-blog {
  background-color: $secondary-color;
}
.index-blog-post {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 150px;
  padding: 10px 0;
  @include media($first-break){
    gap: 50px;
  }
  @include media($third-break){
    display: block;
    .button {
      margin-top: 25px;
    }
  }
  h3 {
    margin-top: 50px;
    @include media($first-break){
      margin-top: 25px;
    }
  }
  img {
    max-height: 400px;
    object-fit: cover;
  }
}

.index-blog-post-text {
  width: calc(85% - 25px);
  max-width: calc((1280px/2) - 75px);
  @include media($third-break){
    margin: 0 7.5%;
    width: auto;
    max-width: none;
  }
}
.index-blog-left.index-blog-post-text {
  order: -1;
  text-align: right;
  justify-self: end;
  clear:both;
  @include media($final-break){
    text-align: left;
  }
  .button {
    align-self: flex-end;
    @include media($final-break){
      align-self: flex-start;
    }
  }
}

.index-blog-post-image {
  @include media($third-break){
    width: 80%;
  }
  @include media($final-break){
    width: 100%;
  }
}
.index-blog-left.index-blog-post-image {
  position: relative;
  top: -45px;
  @include media($final-break){
    top: 0;
  }
}
.index-blog-right.index-blog-post-image {
  position: relative;
  bottom: -50px;
  @include media($third-break){
    float: right;
    bottom: 0;
    top: -15px;
  }
  @include media($final-break){
    top: 0;
  }
}




.index-contest {
  text-align: center;
  padding: 100px;
  @include media($third-break){
    padding: 100px 0;
  }
  p {
    width: 80%;
    text-align: left;
    margin: 0 auto;
    padding: 25px 0;
    @include media($third-break){
      width: 100%;
    }
  }
}

.index-body-hero {
  width: 100%;
  height: 300px;
  background: url("../assets/banner.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.index-about {
  padding: 100px 0;
  .flex-container{
    display: flex;
    @include media($fourth-break){
      flex-direction: column;
    }
  }
  .index-about-image {
    flex-basis: calc(100%/4);
    flex-shrink: 0;
    padding-right: 2.75%;
    @include media($fourth-break){
      padding-right: 0;
      padding-bottom: 30px;
      img {
        max-height: 250px;
        object-fit: cover;
        object-position: bottom;
      }
    }
  }
  .index-about-text {
    padding-left: 1.25%;
    @include media($fourth-break){
      padding-left: 0;
    }
  }
  .button {
    margin: 0;
    margin-top: 20px;
  }
  
}

.index-gallery {
  padding: 50px 0;
  background-color: $secondary-color;
  @include media($fourth-break){
    li:nth-of-type(2){
      display: none;
    }
  }
  .flex-container {
    display: flex;
    gap: 4%;
    @include media($fifth-break){
      flex-direction: column;
    }
  }
}


