@keyframes small-wiggle {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}
@keyframes slide-in{
  from {
    bottom: -500px;
  }
  to {
    bottom: -150px;
  }  
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}