* {
    font-family: $font-primary;
}

html {
    font-size: 62.5%;
    color: $primary-white;
}


h1 {
    font-size: 6.9rem;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-size: 4.5rem;
    // line-height: 99.8px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
}
h3 {
    font-size: 4rem;
    line-height: 58px;
    margin: 0;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    font-weight: 400;
}
h4 {
    font-size: 2.2rem;
    // line-height: 58px;
    font-weight: 400;
    letter-spacing: 0.8px;
}

nav {
    font-size: 2rem;
    line-height: 29px;
    letter-spacing: 1px;
    font-weight: 700;
}
p {
    font-family: $font-paragraph;
    font-size: 2rem;
    margin: 0;
}

.contact-form {
    font-family: $font-primary;
}
.contact-flex-container li,
.contact-flex-container li a,
.blog-aside-posts {
    font-weight: 200;
    font-size: 2rem;
    letter-spacing: 1px;
}
.blog-post-date,
.blog-comment-date {
    font-weight: bolder;
}
.blog-aside-posts li{
    font-family: $font-paragraph;
}

button,
.button {
    font-size: 2.24rem;
    line-height: 41.6px;
    font-family: $font-primary;
}