$primary-color: #2B331B; //background one / contact & blog colour
$secondary-color: #171B0E; //background two
$primary-accent: #FFD300; //border highlights

$primary-white: #fff; //text colour
$primary-black: #0F0F0F; //footer colour

$circle-stroke: #FFD300;//#fff;//#F93011;


$translucent-black: transparentize($primary-black, 0.4);
$dark-accent: scale-color($primary-accent, $lightness: -50%);

$font-paragraph: 'Barlow', sans-serif;;
$font-primary: 'Josefin Sans', sans-serif;


$first-break: 1250px;
$second-break: 1125px;
$third-break: 900px;
$fourth-break: 750px;
$fifth-break: 400px;
