/* Setup */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

@-webkit-keyframes small-wiggle {
  0%, 50%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes small-wiggle {
  0%, 50%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@-webkit-keyframes slide-in {
  from {
    bottom: -500px;
  }
  to {
    bottom: -150px;
  }
}

@keyframes slide-in {
  from {
    bottom: -500px;
  }
  to {
    bottom: -150px;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Type Styles */
* {
  font-family: "Josefin Sans", sans-serif;
}

html {
  font-size: 62.5%;
  color: #fff;
}

h1 {
  font-size: 6.9rem;
  font-weight: 600;
  text-transform: uppercase;
}

@media only screen and (max-width: 580px) {
  h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 380px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 4.5rem;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

@media only screen and (max-width: 580px) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 4rem;
  line-height: 58px;
  margin: 0;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  font-weight: 400;
}

@media only screen and (max-width: 580px) {
  h3 {
    font-size: 2.5rem;
  }
}

h4 {
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: 0.8px;
}

@media only screen and (max-width: 580px) {
  h4 {
    font-size: 2.2rem;
  }
}

nav {
  font-size: 2rem;
  line-height: 29px;
  letter-spacing: 1px;
  font-weight: 700;
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
  margin: 0;
}

@media only screen and (max-width: 580px) {
  p {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 380px) {
  footer p {
    font-size: 1.5rem;
  }
}

.contact-form {
  font-family: "Josefin Sans", sans-serif;
}

.contact-flex-container li,
.contact-flex-container li a,
.blog-aside-posts {
  font-weight: 200;
  font-size: 2rem;
  letter-spacing: 1px;
}

.blog-post-date,
.blog-comment-date {
  font-weight: bolder;
}

.blog-aside-posts li {
  font-family: "Barlow", sans-serif;
}

button,
.button {
  font-size: 2.24rem;
  line-height: 41.6px;
  font-family: "Josefin Sans", sans-serif;
}

/* Global Styles */
a,
a:visited {
  text-decoration: none;
  border: none;
  color: inherit;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

/* Header Styles */
header {
  background: -webkit-gradient(linear, left top, right bottom, from(#2B331B), color-stop(#262d18), color-stop(#212715), color-stop(#1c2111), to(#171B0E));
  background: linear-gradient(to bottom right, #2B331B, #262d18, #212715, #1c2111, #171B0E);
  position: relative;
  min-height: 95vh;
  background-size: cover;
  padding-top: 50px;
}

header span {
  display: block;
  color: #0F0F0F;
  position: relative;
  z-index: 2;
  margin: 10px 0;
}

header span::after {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 470px;
  left: -5px;
  top: -5px;
  bottom: 5px;
  z-index: -1;
}

@media only screen and (max-width: 580px) {
  header span::after {
    width: 340px;
  }
}

@media only screen and (max-width: 380px) {
  header span::after {
    width: 275px;
  }
}

header li {
  margin-right: 25px;
  position: relative;
}

h1 {
  padding-top: 100px;
  margin: 0;
}

.desktop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-header {
  background-image: url("../assets/home-header.jpg");
}

.blog-header {
  background-image: url("../assets/blog-header.jpg");
  background-position: center;
}

.contact-header {
  background-image: url("../assets/contact-header.jpg");
  background-position: right;
}

.header-overlay-image {
  position: absolute;
  right: 0;
  bottom: -150px;
  width: 50%;
  -webkit-animation: slide-in 1s, fade-in 1s;
          animation: slide-in 1s, fade-in 1s;
  z-index: 2;
}

ul:hover .page-active::after,
ul:hover .page-not-active::after {
  width: 0;
}

ul:hover li:hover::after {
  width: 100%;
}

a:focus {
  outline: 1px dotted #FFD300;
}

.page-active,
.page-not-active {
  position: relative;
}

.page-active::after,
.page-not-active::after {
  content: '';
  height: 3px;
  display: block;
  position: absolute;
  background-color: #FFD300;
  bottom: -5px;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.page-active::after {
  width: 100%;
}

.page-not-active::after {
  width: 0;
}

.circle {
  position: absolute;
  left: -35%;
  bottom: 0;
  width: 150%;
  height: 150%;
  z-index: 0;
}

.circle path {
  stroke-dasharray: 460;
  stroke-dashoffset: 460;
  -webkit-transition: stroke-dashoffset 0.3s;
  transition: stroke-dashoffset 0.3s;
  stroke: #FFD300;
}

a:hover > .circle > path,
a:focus > .circle > path {
  stroke-dashoffset: 0;
}

/* Mobile Nav */
@media only screen and (max-width: 580px) {
  .desktop-nav {
    display: none;
  }
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 580px) {
  .mobile-nav {
    display: block;
  }
}

.mobile-nav-hamburger,
.mobile-nav-ex {
  display: none;
  left: 0px;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: #FFD300;
  border-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 3rem;
  color: #0F0F0F;
  position: fixed;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 5;
  overflow: hidden;
}

@media only screen and (max-width: 580px) {
  .mobile-nav-hamburger,
  .mobile-nav-ex {
    display: inline;
  }
}

.mobile-nav-hamburger i,
.mobile-nav-ex i {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
}

.mobile-nav-hamburger:hover,
.mobile-nav-ex:hover {
  width: 100%;
  height: 40%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.page-active {
  color: #fff;
}

.mobile-nav {
  margin-left: 35px;
  margin-top: 60px;
}

.mobile-nav li {
  padding: 10px 5px;
}

.mobile-nav:hover .page-active {
  color: #0F0F0F;
}

.mobile-nav:hover a:hover {
  color: #fff;
}

.mobile-nav-background-show {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mobile-nav-show {
  display: block;
}

/* Main Styles */
main {
  background-color: #2B331B;
}

.button {
  border: none;
  text-transform: uppercase;
  padding: 5px 30px;
  cursor: pointer;
}

.shadow-left {
  -webkit-box-shadow: -15px 15px 0 #FFD300;
          box-shadow: -15px 15px 0 #FFD300;
}

.shadow-right {
  -webkit-box-shadow: 15px 15px 0 #FFD300;
          box-shadow: 15px 15px 0 #FFD300;
}

.form input,
.form textarea {
  font-size: 1.5rem;
  color: #fff;
  margin: 10px;
  padding: 20px;
}

.form input::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
  color: white;
  opacity: 0.8;
}

.form input:-ms-input-placeholder,
.form textarea:-ms-input-placeholder {
  color: white;
  opacity: 0.8;
}

.form input::-ms-input-placeholder,
.form textarea::-ms-input-placeholder {
  color: white;
  opacity: 0.8;
}

.form input::placeholder,
.form textarea::placeholder {
  color: white;
  opacity: 0.8;
}

.form button {
  border: none;
  text-transform: uppercase;
  padding: 5px 30px;
  cursor: pointer;
  margin: 10px;
  width: calc(100% - 20px);
  background-color: #FFD300;
  padding: 0px 5px;
}

.form-user {
  border: none;
  width: calc(50% - 20px);
  float: left;
  border-bottom: 1px solid #FFD300;
}

@media only screen and (max-width: 580px) {
  .form-user {
    float: none;
    width: calc(100% - 20px);
  }
}

.form-message {
  border: 1px solid #FFD300;
  clear: both;
  display: block;
  width: calc(100% - 20px);
  height: 250px;
  resize: none;
}

/* Index Styles */
.index .button {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  display: inline-block;
  text-align: center;
}

.index .button:hover, .index .button:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.index-about .button,
.index-contest .button {
  background-color: #0F0F0F;
  color: #fff;
}

.index-about .button:hover, .index-about .button:focus,
.index-contest .button:hover,
.index-contest .button:focus {
  background-color: #fff;
  color: #0F0F0F;
  -webkit-box-shadow: 0 0px 10px 1px #0F0F0F;
          box-shadow: 0 0px 10px 1px #0F0F0F;
}

.index-about .button:active,
.index-contest .button:active {
  color: rgba(15, 15, 15, 0.6);
  -webkit-box-shadow: 0 0px 5px 1px rgba(15, 15, 15, 0.6);
          box-shadow: 0 0px 5px 1px rgba(15, 15, 15, 0.6);
}

.index-blog .button {
  background-color: #FFD300;
  color: #0F0F0F;
}

.index-blog .button:hover, .index-blog .button:focus {
  background-color: #0F0F0F;
  color: #FFD300;
  -webkit-box-shadow: 0 0px 10px 1px #FFD300;
          box-shadow: 0 0px 10px 1px #FFD300;
}

.index-blog .button:active {
  color: #806a00;
  -webkit-box-shadow: 0 0px 5px 1px #806a00;
          box-shadow: 0 0px 5px 1px #806a00;
}

.index-feature-section {
  padding: 200px 0 100px;
}

@media only screen and (max-width: 380px) {
  .index-feature-section {
    padding-bottom: 50px;
  }
}

.index-feature-section .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 950px) {
  .index-feature-section .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.index-feature-section .flex-container li {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  position: relative;
}

.index-feature-section .flex-container li:nth-of-type(2n) {
  margin-left: 2%;
}

@media only screen and (max-width: 950px) and (min-width: 580px) {
  .index-feature-section .flex-container li:nth-of-type(2n) {
    margin-left: 0;
    margin-right: 0%;
  }
  .index-feature-section .flex-container li:nth-of-type(2n) .index-feature-text {
    text-align: right;
  }
  .index-feature-section .flex-container li:nth-of-type(2n).index-feature-flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .index-feature-section .flex-container li:nth-of-type(2n) .index-feature-icon {
    margin: 0px 0px 20px 15px;
  }
}

.index-feature-section .index-feature:hover .index-feature-icon {
  -webkit-animation: small-wiggle 1s infinite ease-in;
          animation: small-wiggle 1s infinite ease-in;
}

.index-feature-section .index-feature:hover .index-feature-icon i {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.index-feature-section .index-feature-flex-container {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-feature-section .index-feature-icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 2.5rem;
  color: #0F0F0F;
  background-color: #FFD300;
  margin: 0px 15px 20px 0;
}

.index-feature-section i {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-top: 12.5px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.index-contest h2,
.index-about h2 {
  color: #FFD300;
}

.index-blog-post-text,
.index-about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.index-blog-post-text p,
.index-about-text p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.index-blog-post-text .button,
.index-about-text .button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 25px;
}

.index-blog {
  background-color: #171B0E;
}

.index-blog-post {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 150px;
  padding: 10px 0;
}

@media only screen and (max-width: 1170px) {
  .index-blog-post {
    gap: 50px;
  }
}

@media only screen and (max-width: 950px) {
  .index-blog-post {
    display: block;
  }
  .index-blog-post .button {
    margin-top: 25px;
  }
}

.index-blog-post h3 {
  margin-top: 50px;
}

@media only screen and (max-width: 1170px) {
  .index-blog-post h3 {
    margin-top: 25px;
  }
}

.index-blog-post img {
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.index-blog-post-text {
  width: calc(85% - 25px);
  max-width: calc((1280px/2) - 75px);
}

@media only screen and (max-width: 950px) {
  .index-blog-post-text {
    margin: 0 7.5%;
    width: auto;
    max-width: none;
  }
}

.index-blog-left.index-blog-post-text {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  text-align: right;
  -ms-grid-column-align: end;
      justify-self: end;
  clear: both;
}

@media only screen and (max-width: 380px) {
  .index-blog-left.index-blog-post-text {
    text-align: left;
  }
}

.index-blog-left.index-blog-post-text .button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (max-width: 380px) {
  .index-blog-left.index-blog-post-text .button {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media only screen and (max-width: 950px) {
  .index-blog-post-image {
    width: 80%;
  }
}

@media only screen and (max-width: 380px) {
  .index-blog-post-image {
    width: 100%;
  }
}

.index-blog-left.index-blog-post-image {
  position: relative;
  top: -45px;
}

@media only screen and (max-width: 950px) {
  .index-blog-left.index-blog-post-image {
    top: -45px;
  }
}

@media only screen and (max-width: 380px) {
  .index-blog-left.index-blog-post-image {
    top: 0;
  }
}

.index-blog-right.index-blog-post-image {
  position: relative;
  bottom: -50px;
}

@media only screen and (max-width: 950px) {
  .index-blog-right.index-blog-post-image {
    float: right;
    bottom: 0;
    top: -15px;
  }
}

@media only screen and (max-width: 380px) {
  .index-blog-right.index-blog-post-image {
    top: 0;
  }
}

.index-contest {
  text-align: center;
  padding: 100px;
}

@media only screen and (max-width: 950px) {
  .index-contest {
    padding: 100px 0;
  }
}

.index-contest p {
  width: 80%;
  text-align: left;
  margin: 0 auto;
  padding: 25px 0;
}

@media only screen and (max-width: 950px) {
  .index-contest p {
    width: 100%;
  }
}

.index-body-hero {
  width: 100%;
  height: 300px;
  background: url("../assets/banner.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.index-about {
  padding: 100px 0;
}

.index-about .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 870px) {
  .index-about .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.index-about .index-about-image {
  -ms-flex-preferred-size: calc(100%/4);
      flex-basis: calc(100%/4);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 2.75%;
}

@media only screen and (max-width: 870px) {
  .index-about .index-about-image {
    padding-right: 0;
    padding-bottom: 30px;
  }
  .index-about .index-about-image img {
    max-height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
  }
}

.index-about .index-about-text {
  padding-left: 1.25%;
}

@media only screen and (max-width: 870px) {
  .index-about .index-about-text {
    padding-left: 0;
  }
}

.index-about .button {
  margin: 0;
  margin-top: 20px;
}

.index-gallery {
  padding: 50px 0;
  background-color: #171B0E;
}

@media only screen and (max-width: 870px) {
  .index-gallery li:nth-of-type(2) {
    display: none;
  }
}

.index-gallery .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4%;
}

@media only screen and (max-width: 580px) {
  .index-gallery .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Blog Styles */
.blog-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 870px) {
  .blog-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.blog-aside {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding-top: 125px;
}

@media only screen and (max-width: 870px) {
  .blog-aside {
    padding-top: 15px;
  }
}

.blog-aside h4 {
  color: #FFD300;
  text-transform: uppercase;
  margin-bottom: 0;
}

.blog-aside ul {
  list-style-type: none;
  padding-left: 10px;
}

.blog-aside li {
  padding: 5px 0;
  padding-left: 10px;
  position: relative;
}

.blog-aside li::before {
  content: '';
  position: absolute;
  left: -10px;
  top: 15px;
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #fff;
}

.blog-aside-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20%)[5];
      grid-template-columns: repeat(5, 20%);
  margin-right: 80px;
}

@media only screen and (max-width: 870px) {
  .blog-aside-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 85%;
    max-width: 1280px;
    position: relative;
    top: -100px;
  }
}

@media only screen and (max-width: 580px) {
  .blog-aside-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.blog-aside-image {
  grid-column: 1 / -1;
  position: relative;
}

.blog-aside-image img {
  position: relative;
  right: 20px;
}

@media only screen and (max-width: 870px) {
  .blog-aside-image img {
    -webkit-box-shadow: -15px 15px 0 #FFD300;
            box-shadow: -15px 15px 0 #FFD300;
  }
}

@media only screen and (max-width: 580px) {
  .blog-aside-image img {
    right: 0;
    max-height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    margin-bottom: 30px;
  }
}

.blog-aside-image::after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 20px;
  right: 0px;
  top: 20px;
  background-color: #171B0E;
}

@media only screen and (max-width: 870px) {
  .blog-aside-image::after {
    display: none;
  }
}

.blog-aside-text {
  grid-column: 2 / -1;
  background-color: #171B0E;
  padding: 0 20px;
  padding-bottom: 30px;
}

.blog-aside-text p {
  line-height: 30px;
}

.blog-aside-text h4:nth-of-type(2) {
  margin-top: 75px;
}

.blog-aside-text-justified {
  text-align: justify;
}

.blog-post {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-left: 5px solid #FFD300;
  border-bottom: 5px solid #FFD300;
  padding-left: 10px;
  position: relative;
  top: -50px;
}

@media only screen and (max-width: 870px) {
  .blog-post {
    top: 0;
  }
}

@media only screen and (max-width: 380px) {
  .blog-post {
    border-left: none;
    padding: 0;
  }
}

.blog-post p, .blog-post h2 {
  padding: 10px 50px 10px 50px;
}

.blog-post h2 {
  color: #FFD300;
  padding-top: 15px;
  font-weight: 200;
}

.blog-post p:last-of-type {
  padding-bottom: 50px;
}

.blog-post-header-image {
  height: 600px;
  position: relative;
  top: -50px;
}

.blog-post-header-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.blog-comments {
  width: 60%;
  float: right;
}

@media only screen and (max-width: 870px) {
  .blog-comments {
    width: 100%;
    padding-top: 50px;
  }
}

.blog-comments-comment-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20%,80%;
      grid-template-columns: 20%,80%;
}

.blog-comments-picture {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
      grid-column-end: span 1;
  padding: 15px;
}

@media only screen and (max-width: 380px) {
  .blog-comments-picture {
    display: none;
  }
}

.blog-comment-date {
  color: #FFD300;
}

.blog-comments-body {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 2;
      grid-column-start: 2;
  padding: 15px;
}

.blog-comments-body .blog-comment-text {
  padding: 10px 0;
}

.blog-comment-box {
  clear: both;
  width: 60%;
  float: right;
  position: relative;
}

@media only screen and (max-width: 870px) {
  .blog-comment-box {
    width: 100%;
  }
}

.comment-form {
  width: 100%;
  padding: 50px 0;
}

.comment-form input,
.comment-form textarea {
  background-color: #2B331B;
}

/* Contact Styles */
.contact {
  position: relative;
  padding-bottom: 150px;
}

@media only screen and (max-width: 950px) {
  .contact {
    padding-bottom: 50px;
  }
}

.contact-social-links {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 950px) {
  .contact-social-links {
    padding-top: 0;
  }
}

@media only screen and (max-width: 380px) {
  .contact-social-links {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.contact-social-links li {
  margin-right: 25px;
}

@media only screen and (max-width: 380px) {
  .contact-social-links li {
    margin: 0;
  }
}

.contact-social-links i {
  color: #FFD300;
  font-size: 2.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact-social-links i:hover {
  color: #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contact-flex-container {
  padding: 0;
  margin: 0;
  width: 30%;
}

@media only screen and (max-width: 950px) {
  .contact-flex-container {
    width: 100%;
  }
}

@media only screen and (max-width: 380px) {
  .contact-flex-container {
    text-align: center;
  }
}

.contact-flex-container > li {
  padding-bottom: 25px;
}

.contact-address li {
  padding-bottom: 5px;
}

.contact-form {
  position: absolute;
  background: #171B0E;
  right: 5%;
  top: -100px;
  width: 50%;
  padding: 25px;
}

@media only screen and (max-width: 950px) {
  .contact-form {
    position: relative;
    right: 0;
    top: -100px;
    width: 100%;
  }
}

.contact-form input,
.contact-form textarea {
  background-color: #171B0E;
}

/* Footer Styles */
footer {
  background-color: #0F0F0F;
  text-align: center;
}

footer p {
  margin: 0;
  padding: 15px 0;
}
